<div class="header-wrapper">
	<header class="header fluid-width mobile-full-width">
		<a class="header-logo"><%= image_tag ('header_logo.png') %></a>
		<div class="header-nav-links">
			<a class="facebook-like-container"><div><div class="fb-like" data-href="https://www.facebook.com/Colorgy-1529686803975150/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div></div></a>
			<a href="#" class="header-nav-link">關於</a>
			<a href="#" class="header-nav-link">常見問題</a>
		</div>
	</header>
</div>
<section class="fixed-content fluid-width">
	<div class="content">
		<div class="constrain">
			<div class="content-text">

				<div class="text-slide" data-slide="0">
					<h2 class="js-animate-this">
						Colorgy App<br>
						幫你的大學生活上色
					</h2>
					<div class="content-block" page="0">
						<p class="js-animate-this delay">Colorgy APP 是個方便的校園生活幫手，目前主要著重於課表功能，讓你隨時隨地將課表帶著走，上課不再煩惱，還有其他酷炫的功能即將推出！</p>
						<div class="js-animate-this delay-2">
							<a class="slide-cta" href="#"><i class="ion-social-android"></i>Android 下載</a>
							<a class="slide-cta" href="#"><i class="ion-social-apple"></i>iOS 下載</a>
						</div>
					</div>
				</div>

				<div class="text-slide" data-slide="1">
					<h2 class="js-animate-this page-after">內建課程資料庫<br>&自由加課功能</h2>
					<div class="content-block" page="1">
						<p class="js-animate-this page-after delay">內建許多學校的課程資料，利用老師名稱、課程代碼等等搜尋即可選課、排課。也可以自己加入自己客製化的課、排程。</p>
						<div class="js-animate-this delay-2">
							<a class="slide-cta" href="#"><i class="ion-social-android"></i>Android 下載</a>
							<a class="slide-cta" href="#"><i class="ion-social-apple"></i>iOS 下載</a>
						</div>
					</div>
				</div>

				<div class="text-slide" data-slide="2">
					<h2 class="js-animate-this page-after">課程詳情<br>&我的同學</h2>
					<div class="content-block" page="2">
						<p class="js-animate-this page-after delay">課程詳細資訊一覽無遺，不再忘記上課地點、老師名稱，還可以看看有哪些同學跟你一起上課！</p>
						<div class="js-animate-this delay-2">
							<a class="slide-cta" href="#"><i class="ion-social-android"></i>Android 下載</a>
							<a class="slide-cta" href="#"><i class="ion-social-apple"></i>iOS 下載</a>
						</div>
					</div>
				</div>

				<div class="text-slide" data-slide="3">
					<h2 class="js-animate-this page-after">課堂提醒<br>&自訂提醒時間</h2>
					<div class="content-block" page="3">
						<p class="js-animate-this page-after delay">可以自己設定課程提醒時間，在每堂課之前提醒你要上課囉！不再因為要記住所有課程時間而煩惱～</p>
						<div class="js-animate-this delay-2">
							<a class="slide-cta" href="#"><i class="ion-social-android"></i>Android 下載</a>
							<a class="slide-cta" href="#"><i class="ion-social-apple"></i>iOS 下載</a>
						</div>
					</div>
				</div>

			</div>

			<div class="device-frame">
				<div class="image-slides">
					<%= image_tag('IMG_1.png', :class => 'screen-shine') %>
					<%= image_tag('IMG_2.png', :class => 'screen-shine') %>
					<%= image_tag('IMG_3.png', :class => 'screen-shine') %>
					<%= image_tag('IMG_4.png', :class => 'screen-shine') %>
        </div>
        <%= image_tag('device.png', :class => 'device') %>
			</div>
		</div>
	</div>

</section>
<section class="scroll-container" id="scroll-container" page="0">
	<section class="scroll-section scroll-section-one"></section>
	<section class="scroll-section scroll-section-two"></section>
	<section class="scroll-section scroll-section-three"></section>
	<section class="scroll-section scroll-section-four"></section>
</section>
<footer class="footer fluid-width mobile-full-width">
	<a class="down-arrow" id="down-arrow">
		<i class="ion-ios-arrow-down"></i>
	</a>
	<div class="mobile-download-btn">
		<a id="mobile-download-btn-link" href="#" target="_blank">立即下載</a>
	</div>
</footer>

<div class="scroll-spy-dots">
  <div class="dot active" page-order="0">
    <div class="dot-inner"></div>
  </div>
  <div class="dot" page-order="1">
    <div class="dot-inner"></div>
  </div>
  <div class="dot" page-order="2">
    <div class="dot-inner"></div>
  </div>
  <div class="dot" page-order="3">
    <div class="dot-inner"></div>
  </div>
</div>

<script type="text/javascript">

  var current_page = 0;
  var state = 'active';

	function scrollPageFunc(target_page, dir){
		var target_page = target_page
  	var before_page = target_page - 1;
  	var after_page = target_page + 1;
		state = 'disabled';

    $('.dot[page-order="' + target_page + '"]').addClass('active');
    $('.dot[page-order="' + target_page + '"]').siblings('.dot').removeClass('active');

		if(target_page == 3){
			$('#down-arrow').addClass('fade-out');
		}else{
			$('#down-arrow').removeClass('fade-out');
		}

    if(dir == 'goup'){
    	$('#scroll-container').attr('page', target_page);
    	console.log(target_page);
      current_page = current_page - 1;
			$('.text-slide[data-slide="' + after_page + '"]').find('.js-animate-this').removeClass('active').addClass('page-after');
			setTimeout(function(){
				$('.text-slide[data-slide="' + target_page + '"]').find('.js-animate-this').removeClass('page-before').addClass('active');
			}, 600);
			var image_page = after_page + 1;
			$('.image-slides .screen-shine:nth-child(' + image_page +')').removeClass('active');
    }

    if(dir == 'godown'){
    	$('#scroll-container').attr('page', target_page);
    	console.log(target_page);
      current_page = current_page + 1;
				$('.text-slide[data-slide="' + before_page + '"]').find('.js-animate-this').removeClass('active').addClass('page-before');
			setTimeout(function(){
				$('.text-slide[data-slide="' + target_page + '"]').find('.js-animate-this').removeClass('page-after').addClass('active');
			}, 600);
			var image_page = target_page + 1;
			$('.image-slides .screen-shine:nth-child(' + image_page +')').addClass('active');
    }

    $('.content-block').removeClass('active');
    $('.content-block[page="' + target_page + '"]').add('active');

		setTimeout(restTranslateState, 1000);
	}

  function restTranslateState(){
    state = 'active';
  }

  $(window).on('wheel', function(e){

    var eo = e.originalEvent;
    if(Math.abs(eo.wheelDeltaX) < 10 && Math.abs(eo.wheelDeltaY) > 2){
      //e.preventDefault();

      if(eo.wheelDeltaY < -10){
        if(state == 'active'){
          if(current_page == 3){
            return false;
          }
          scrollPageFunc(current_page + 1, 'godown');
        }
      }

      if(eo.wheelDeltaY > 10){
        if(state == 'active'){
          if(current_page == 0){
            return false;
          }
          scrollPageFunc(current_page - 1, 'goup');
        }
      }
    }

  });

  // $(document).on('click', '.dot', function(){
  //   var page_num = parseInt($(this).attr('page-order'));
  //   var dir;
  //   console.log('hehe');
  //   console.log(page_num);
  //   console.log(current_page);

  //   if(page_num > current_page){
  //   	dir = 'godown';
  //   }
  //   else if(page_num < current_page){
  //   	dir = 'goup';
  //   }else{
  //   	return false;
  //   }
  //   scrollPageFunc(page_num, dir);
  //   current_page = page_num;
  // })

  $(document).on('click', '#down-arrow', function(){
  	var target_page = current_page + 1;
  	var dir = 'godown';
  	scrollPageFunc(target_page, dir)
  })

  $(document).ready(function(){

		$('.text-slide[data-slide="0"]').find('.js-animate-this').addClass('active');
		$('.image-slides .screen-shine:nth-child(1)').addClass('active');
		$('.content-block[page="0"]').addClass('active');

		var isiDevice = /ipad|iphone|ipod/i.test(navigator.userAgent.toLowerCase());

		if (isiDevice)
		{
		  $('#mobile-download-btn-link').attr('href', 'https://itunes.apple.com/tw/app/colorgy/id998230121?l=zh&mt=8');
		}else{
			$('#mobile-download-btn-link').attr('href', 'https://play.google.com/store/apps/details?id=io.colorgy.cordovaapp');
		}

  })



  // Mobile Touch event

  var element = document.getElementById('html');
	element.addEventListener("touchstart", touchStart, false);
	element.addEventListener("touchmove", touchMove, false);

	var start = {x:0,y:0};

	function touchStart(e) {

		start.x = event.touches[0].pageX;
		start.y = event.touches[0].pageY;
	}

	function touchMove(e){

		offset = {};

		offset.x = start.x - event.touches[0].pageX;
		offset.y = start.y - event.touches[0].pageY;
		mobileTouchTrigger(offset.x , offset.y);
		console.log(offset);
		return offset;
	}

	function mobileTouchTrigger(dx, dy){
    if(Math.abs(dx) < 10 && Math.abs(dy) > 2){
      //e.preventDefault();

      if(dy > -10){
        if(state == 'active'){
          if(current_page == 3){
            return false;
          }
          scrollPageFunc(current_page + 1, 'godown');
        }
      }

      if(dy < 10){
        if(state == 'active'){
          if(current_page == 0){
            return false;
          }
          scrollPageFunc(current_page - 1, 'goup');
        }
      }
    }

	}
</script>
