<div class="header-wrapper">
	<header class="header fluid-width mobile-full-width">
		<a class="header-logo"><%= image_tag ('header_logo.png') %></a>
		<div class="header-nav-links">
			<a href="#" class="header-nav-link">About</a>
			<a href="#" class="header-nav-link">FAQ</a>
		</div>
	</header>
</div>
<section class="fixed-content fluid-width">
	<div class="content">
		<div class="constrain">
			<div class="content-text">

				<div class="text-slide" data-slide="0">
					<h2 class="js-animate-this">
						Fit a lesson<br>
						in anywhere.
					</h2>
					<div>
						<p class="js-animate-this delay">Primer is a fast, easy way to learn new marketing skills. You can take our bite-sized lessons wherever and whenever you have 5 minutes free.</p>
						<div class="slide-cta js-animate-this delay-2">
							<span>Get the app</span>
							<a href=""></a>
							<a href=""></a>
						</div>
					</div>
				</div>

				<div class="text-slide" data-slide="1">
					<h2 class="js-animate-this page-after">Get new topics every week.</h2>
					<div>
						<p class="js-animate-this page-after delay">Primer is a fast, easy way to learn new marketing skills. You can take our bite-sized lessons wherever and whenever you have 5 minutes free.</p>
						<div class="slide-cta js-animate-this page-after delay-2">
							<span>Get the app</span>
							<a href=""></a>
							<a href=""></a>
						</div>
					</div>
				</div>

				<div class="text-slide" data-slide="2">
					<h2 class="js-animate-this page-after">Get new topics every week.</h2>
					<div>
						<p class="js-animate-this page-after delay">Primer is a fast, easy way to learn new marketing skills. You can take our bite-sized lessons wherever and whenever you have 5 minutes free.</p>
						<div class="slide-cta js-animate-this page-after delay-2">
							<span>Get the app</span>
							<a href=""></a>
							<a href=""></a>
						</div>
					</div>
				</div>

				<div class="text-slide" data-slide="3">
					<h2 class="js-animate-this page-after">Get new topics every week.</h2>
					<div>
						<p class="js-animate-this page-after delay">Primer is a fast, easy way to learn new marketing skills. You can take our bite-sized lessons wherever and whenever you have 5 minutes free.</p>
						<div class="slide-cta js-animate-this page-after delay-2">
							<span>Get the app</span>
							<a href=""></a>
							<a href=""></a>
						</div>
					</div>
				</div>

			</div>

			<div class="device-frame">
				<div class="image-slides">
					<%= image_tag('IMG_1.png', :class => 'screen-shine') %>
					<%= image_tag('IMG_2.png', :class => 'screen-shine') %>
					<%= image_tag('IMG_3.png', :class => 'screen-shine') %>
					<%= image_tag('IMG_4.png', :class => 'screen-shine') %>
        </div>
        <%= image_tag('device.png', :class => 'device') %>
			</div>
		</div>
	</div>

</section>
<section class="scroll-container" id="scroll-container" page="0">
	<section class="scroll-section scroll-section-one"></section>
	<section class="scroll-section scroll-section-two"></section>
	<section class="scroll-section scroll-section-three"></section>
	<section class="scroll-section scroll-section-four"></section>
</section>
<footer class="footer fluid-width mobile-full-width">
	<a class="down-arrow" id="down-arrow">
		<i class="ion-ios-arrow-down"></i>
	</a>
</footer>

<div class="scroll-spy-dots">
  <div class="dot active" page-order="0">
    <div class="dot-inner"></div>
  </div>
  <div class="dot" page-order="1">
    <div class="dot-inner"></div>
  </div>
  <div class="dot" page-order="2">
    <div class="dot-inner"></div>
  </div>
  <div class="dot" page-order="3">
    <div class="dot-inner"></div>
  </div>
</div>

<script type="text/javascript">

  var current_page = 0;
  var state = 'active';

	function scrollPageFunc(target_page, dir){
		var target_page = target_page
  	var before_page = target_page - 1;
  	var after_page = target_page + 1;
		state = 'disabled';

    $('.dot[page-order="' + target_page + '"]').addClass('active');
    $('.dot[page-order="' + target_page + '"]').siblings('.dot').removeClass('active');

		if(target_page == 3){
			$('#down-arrow').addClass('fade-out');
		}else{
			$('#down-arrow').removeClass('fade-out');
		}

    if(dir == 'goup'){
    	$('#scroll-container').attr('page', target_page);
    	console.log(target_page);
      current_page = current_page - 1;
			$('.text-slide[data-slide="' + after_page + '"]').find('.js-animate-this').removeClass('active').addClass('page-after');
			setTimeout(function(){
				$('.text-slide[data-slide="' + target_page + '"]').find('.js-animate-this').removeClass('page-before').addClass('active');
			}, 600);
			var image_page = after_page + 1;
			$('.image-slides .screen-shine:nth-child(' + image_page +')').removeClass('active');
    }

    if(dir == 'godown'){
    	$('#scroll-container').attr('page', target_page);
    	console.log(target_page);
      current_page = current_page + 1;
				$('.text-slide[data-slide="' + before_page + '"]').find('.js-animate-this').removeClass('active').addClass('page-before');
			setTimeout(function(){
				$('.text-slide[data-slide="' + target_page + '"]').find('.js-animate-this').removeClass('page-after').addClass('active');
			}, 600);
			var image_page = target_page + 1;
			$('.image-slides .screen-shine:nth-child(' + image_page +')').addClass('active');
    }

		setTimeout(restTranslateState, 1000);
	}

  function restTranslateState(){
    state = 'active';
  }

  $(window).on('wheel', function(e){

    var window_width = $(window).width();

    var eo = e.originalEvent;
    if(Math.abs(eo.wheelDeltaX) < 10 && Math.abs(eo.wheelDeltaY) > 2){
      //e.preventDefault();

      if(eo.wheelDeltaY < -10  /*&& !scope.item.swipedLeft*/){
        console.log('down');
        if(state == 'active'){
          if(current_page == 3){
            return false;
          }
          scrollPageFunc(current_page + 1, 'godown');
        }
      }

      if(eo.wheelDeltaY > 10  /*&& scope.item.swipedLeft*/ ){
        console.log('up');
        if(state == 'active'){
          if(current_page == 0){
            return false;
          }
          scrollPageFunc(current_page - 1, 'goup');
        }
      }
    }

  });

  // $(document).on('click', '.dot', function(){
  //   var page_num = parseInt($(this).attr('page-order'));
  //   var dir;
  //   console.log('hehe');
  //   console.log(page_num);
  //   console.log(current_page);

  //   if(page_num > current_page){
  //   	dir = 'godown';
  //   }
  //   else if(page_num < current_page){
  //   	dir = 'goup';
  //   }else{
  //   	return false;
  //   }
  //   scrollPageFunc(page_num, dir);
  //   current_page = page_num;
  // })

  $(document).on('click', '#down-arrow', function(){
  	var target_page = current_page + 1;
  	var dir = 'godown';
  	scrollPageFunc(target_page, dir)
  })

  $(document).ready(function(){
		$('.text-slide[data-slide="0"]').find('.js-animate-this').addClass('active');
		$('.image-slides .screen-shine:nth-child(1)').addClass('active');

  })
</script>
