<div class="header-wrapper">
	<header class="header fluid-width mobile-full-width">
		<a class="header-logo" href="#home"><%= image_tag ('header_logo.png') %></a>
		<div class="header-nav-links">
			<a class="facebook-like-container"><div><div class="fb-like" data-href="https://www.facebook.com/Colorgy-1529686803975150/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div></div></a>
			<a href="#about" class="header-nav-link">關於</a>
			<a href="#faq" class="header-nav-link">常見問題</a>
		</div>
	</header>
</div>
<section class="fixed-content fluid-width">
	<div class="content">
		<div class="constrain">
			<div class="content-text">

				<div class="text-slide" data-slide="0">
					<h2 class="js-animate-this">
						Colorgy App<br>
						台灣大學生專用課表
					</h2>
					<div class="content-block" page="0">
						<p class="js-animate-this delay">Colorgy App是一款為台灣大學生量身定做的課表軟體。讓您從此不用擔心忘記上課地點與時間。</p>
						<div class="js-animate-this delay-2">
							<a class="slide-cta download-android" href="https://play.google.com/store/apps/details?id=io.colorgy.rnapp" target="_blank"><i class="ion-social-android"></i>Android 下載</a>
							<a class="slide-cta download-ios" href="https://itunes.apple.com/tw/app/colorgy/id998230121?l=zh&mt=8" target="_blank"><i class="ion-social-apple"></i>iOS 下載</a>
						</div>
					</div>
				</div>

				<div class="text-slide" data-slide="1">
					<h2 class="js-animate-this page-after">課堂提醒<br>&自訂提醒時間</h2>
					<div class="content-block" page="1">
						<p class="js-animate-this page-after delay">上課前自動通知您下堂課的時間地點。可自訂上課多久前跳出通知。</p>
						<div class="js-animate-this delay-2">
							<a class="slide-cta download-android" href="https://play.google.com/store/apps/details?id=io.colorgy.rnapp" target="_blank"><i class="ion-social-android"></i>Android 下載</a>
							<a class="slide-cta download-ios" href="https://itunes.apple.com/tw/app/colorgy/id998230121?l=zh&mt=8" target="_blank"><i class="ion-social-apple"></i>iOS 下載</a>
						</div>
					</div>
				</div>

				<div class="text-slide" data-slide="2">
					<h2 class="js-animate-this page-after">內建100所大學課程資料<br>&客製化自行加課</h2>
					<div class="content-block" page="2">
						<p class="js-animate-this page-after delay">內建全台100多所大學課程資料，利用教師名稱或課名搜尋，即可加課。若有缺課或改上課地點，也可以手動修改。</p>
						<div class="js-animate-this delay-2">
							<a class="slide-cta download-android" href="https://play.google.com/store/apps/details?id=io.colorgy.rnapp" target="_blank"><i class="ion-social-android"></i>Android 下載</a>
							<a class="slide-cta download-ios" href="https://itunes.apple.com/tw/app/colorgy/id998230121?l=zh&mt=8" target="_blank"><i class="ion-social-apple"></i>iOS 下載</a>
						</div>
					</div>
				</div>

				<div class="text-slide" data-slide="3">
					<h2 class="js-animate-this page-after">課程詳情<br>&我的同學</h2>
					<div class="content-block" page="3">
						<p class="js-animate-this page-after delay">課程詳細資訊一覽無遺，不再忘記上課地點、老師名稱，還可以看看有哪些同學跟你一起上課！</p>
						<div class="js-animate-this delay-2">
							<a class="slide-cta download-android" href="https://play.google.com/store/apps/details?id=io.colorgy.rnapp" target="_blank"><i class="ion-social-android"></i>Android 下載</a>
							<a class="slide-cta download-ios" href="https://itunes.apple.com/tw/app/colorgy/id998230121?l=zh&mt=8" target="_blank"><i class="ion-social-apple"></i>iOS 下載</a>
						</div>
					</div>
				</div>

			</div>

			<div class="device-frame">
				<div class="image-slides">
					<%= image_tag('IMG_8.png', :class => 'screen-shine') %>
					<%= image_tag('IMG_5.jpg', :class => 'screen-shine') %>
					<%= image_tag('IMG_7.png', :class => 'screen-shine') %>
					<%= image_tag('IMG_6.png', :class => 'screen-shine') %>
        </div>
        <%= image_tag('cellphone.png', :class => 'device') %>
			</div>
		</div>
	</div>

</section>
<section class="scroll-container" id="scroll-container" page="0">
	<section class="scroll-section scroll-section-one">
		<div class="scroll-section-content">
			<%= image_tag('page1/group4.png', class: 'group4') %>
			<%= image_tag('page1/group6.png', class: 'group6') %>
			<%= image_tag('page1/group7.png', class: 'group7') %>
			<%= image_tag('page1/mask.png', class: 'mask') %>
		</div>
	</section>
	<section class="scroll-section scroll-section-two">
		<div class="scroll-section-content">
			<%= image_tag('page2/group2.png', class: 'group2') %>
			<%= image_tag('page2/group3.png', class: 'group3') %>
			<%= image_tag('page2/group4.png', class: 'group4') %>
			<%= image_tag('page2/mask.png', class: 'mask') %>
		</div>
	</section>
	<section class="scroll-section scroll-section-three">
		<div class="scroll-section-content">
			<%= image_tag('page3/group3.png', class: 'group3') %>
			<%= image_tag('page3/group4.png', class: 'group4') %>
			<%= image_tag('page3/group6.png', class: 'group6') %>
			<%= image_tag('page3/mask.png', class: 'mask') %>
		</div>
	</section>
	<section class="scroll-section scroll-section-four">
		<div class="scroll-section-content">
			<%= image_tag('page4/group4.png', class: 'group4') %>
			<%= image_tag('page4/group6.png', class: 'group6') %>
			<%= image_tag('page4/group7.png', class: 'group7') %>
			<%= image_tag('page4/mask.png', class: 'mask') %>
		</div>
	</section>
</section>
<footer class="footer fluid-width mobile-full-width">
	<a class="down-arrow" id="down-arrow">
		<i class="ion-ios-arrow-down"></i>
	</a>
	<div class="mobile-download-btn">
		<a id="mobile-download-btn-link" href="#" target="_blank">立即下載</a>
	</div>
</footer>

<div class="scroll-spy-dots">
  <div class="dot active" page-order="0">
    <div class="dot-inner"></div>
  </div>
  <div class="dot" page-order="1">
    <div class="dot-inner"></div>
  </div>
  <div class="dot" page-order="2">
    <div class="dot-inner"></div>
  </div>
  <div class="dot" page-order="3">
    <div class="dot-inner"></div>
  </div>
</div>


<div class="fade-gradient"></div>
<!-- FAQ Section -->
<div class="faq-bg"></div>
<section class="faq-section">
	<div class="faq-section-inner">
		<a class="close-faq close-section"><i class="ion-ios-close-empty"></i></a>
		<div class="faq-item">
			<p class="faq-q">
				<span class="label">Q：</span>
				如果 APP 遇到 FB 登入卡住怎麼辦呢?
			</p>
			<p class="faq-a">
				<span class="label">A：</span>
				請關掉 APP 重新打開試試看，有時候會有這樣的 bug，如果還是不行請聯絡我們。
			</p>
		</div>
		<div class="faq-item">
			<p class="faq-q">
				<span class="label">Q：</span>
				如何聯絡 Colorgy 呢?
			</p>
			<p class="faq-a">
				<span class="label">A：</span>
				請點選 <a href="#" target="_blank">這邊</a> 到 Colorgy 粉專，並私訊我們 ^^
			</p>
		</div>
		<div class="faq-item">
			<p class="faq-q">
				<span class="label">Q：</span>
				如果 APP 裡面沒有我的學校怎麼辦呢?
			</p>
			<p class="faq-a">
				<span class="label">A：</span>
				還是可以使用唷！現在的課表除了搜尋課程之外還可以設定自訂課程，您可以自訂課程並且設定提醒時間唷！
			</p>
		</div>
		<div class="faq-item">
			<p class="faq-q">
				<span class="label">Q：</span>
				如果我搜尋不到我想要的課程怎麼辦呢?
			</p>
			<p class="faq-a">
				<span class="label">A：</span>
				還是可以使用唷！現在的課表除了搜尋課程之外還可以設定自訂課程，您可以自訂課程並且設定提醒時間唷！
			</p>
		</div>
		<div class="faq-item">
			<p class="faq-q">
				<span class="label">Q：</span>
				這個 APP 只是用來當作課表的嗎?
			</p>
			<p class="faq-a">
				<span class="label">A：</span>
				課表是我們推出的第一個功能唷！之後還有很多酷炫的功能將會陸陸續續推出，敬請期待 :D
			</p>
		</div>
	</div>
</section>


<section class="about-section">
	<div class="about-section-inner">
		<a class="close-about close-section"><i class="ion-ios-close-empty"></i></a>
		<h1 class="about-title">關於 Colorgy</h1>
		<p class="about-content">
			我們是一群來自各大學院校的大學生，喜歡動手做一些好玩的東西，希望我們做的東西也能讓大家開心地使用; 希望能夠用這個 APP 方便我們的校園生活，之後還會有很多新功能增加，請大家敬請期待 ^^
		</p>
	</div>
</section>


<script type="text/javascript">

  var current_page = 0;
  var state = 'active';

	function scrollPageFunc(target_page, dir){
		var target_page = target_page
  	var before_page = target_page - 1;
  	var after_page = target_page + 1;
		state = 'disabled';

    $('.dot[page-order="' + target_page + '"]').addClass('active');
    $('.dot[page-order="' + target_page + '"]').siblings('.dot').removeClass('active');

		if(target_page == 3){
			$('#down-arrow').addClass('fade-out');
		}else{
			$('#down-arrow').removeClass('fade-out');
		}

    if(dir == 'goup'){
    	$('#scroll-container').attr('page', target_page);
    	console.log(target_page);
      current_page = current_page - 1;
			$('.text-slide[data-slide="' + after_page + '"]').find('.js-animate-this').removeClass('active').addClass('page-after');
			setTimeout(function(){
				$('.text-slide[data-slide="' + target_page + '"]').find('.js-animate-this').removeClass('page-before').addClass('active');
			}, 600);
			var image_page = after_page + 1;
			$('.image-slides .screen-shine:nth-child(' + image_page +')').removeClass('active');
    }

    if(dir == 'godown'){
    	$('#scroll-container').attr('page', target_page);
    	console.log(target_page);
      current_page = current_page + 1;
				$('.text-slide[data-slide="' + before_page + '"]').find('.js-animate-this').removeClass('active').addClass('page-before');
			setTimeout(function(){
				$('.text-slide[data-slide="' + target_page + '"]').find('.js-animate-this').removeClass('page-after').addClass('active');
			}, 600);
			var image_page = target_page + 1;
			$('.image-slides .screen-shine:nth-child(' + image_page +')').addClass('active');
    }

    $('.content-block').removeClass('active');
    $('.content-block[page="' + target_page + '"]').add('active');

		setTimeout(restTranslateState, 1000);
	}

  function restTranslateState(){
    state = 'active';
  }

	// For Chrome
	window.addEventListener('mousewheel', mouseWheelEvent);

	// For Firefox
	window.addEventListener('DOMMouseScroll', mouseWheelEvent);

	function mouseWheelEvent(e) {
    var delta = e.wheelDelta ? e.wheelDelta : -e.detail;
	// }

 //  $(window).bind('mousewheel DOMMouseScroll', function(e){
  	console.log(delta);
   //  var eo = e.originalEvent;
   //  // if(Math.abs(eo.wheelDeltaX) < 10 && Math.abs(eo.wheelDeltaY) > 2){
  	// if(Math.abs(eo.deltaX) < 10 && Math.abs(eo.deltaY) > 2){
   //    //e.preventDefault();

   //    if(eo.wheelDeltaY < -10){
   //      if(state == 'active'){
   //        if(current_page == 3){
   //          return false;
   //        }
   //        scrollPageFunc(current_page + 1, 'godown');
   //      }
   //    }

   //    if(eo.wheelDeltaY > 10){
   //      if(state == 'active'){
   //        if(current_page == 0){
   //          return false;
   //        }
   //        scrollPageFunc(current_page - 1, 'goup');
   //      }
   //    }
   //  }

    if(delta < -10){
      if(state == 'active'){
        if(current_page == 3){
          return false;
        }
        scrollPageFunc(current_page + 1, 'godown');
      }
    }

    if(delta > 10){
      if(state == 'active'){
        if(current_page == 0){
          return false;
        }
        scrollPageFunc(current_page - 1, 'goup');
      }
    }

  };

  // $(document).on('click', '.dot', function(){
  //   var page_num = parseInt($(this).attr('page-order'));
  //   var dir;
  //   console.log('hehe');
  //   console.log(page_num);
  //   console.log(current_page);

  //   if(page_num > current_page){
  //   	dir = 'godown';
  //   }
  //   else if(page_num < current_page){
  //   	dir = 'goup';
  //   }else{
  //   	return false;
  //   }
  //   scrollPageFunc(page_num, dir);
  //   current_page = page_num;
  // })

  $(document).on('click', '#down-arrow', function(){
  	var target_page = current_page + 1;
  	var dir = 'godown';
  	scrollPageFunc(target_page, dir);
  	mixpanel.track("Click scroll down arrow");
  })

  $(document).ready(function(){
  	mixpanel.track("Come to landing page");
  	var windowHeight = $(window).height();
  	$('.scroll-section-content').css({ height: windowHeight + 'px' });

		$('.text-slide[data-slide="0"]').find('.js-animate-this').addClass('active');
		$('.image-slides .screen-shine:nth-child(1)').addClass('active');
		$('.content-block[page="0"]').addClass('active');

		var isiDevice = /ipad|iphone|ipod/i.test(navigator.userAgent.toLowerCase());

		if (isiDevice)
		{
		  $('#mobile-download-btn-link').attr('href', 'https://itunes.apple.com/tw/app/colorgy/id998230121?l=zh&mt=8');
		}else{
			$('#mobile-download-btn-link').attr('href', 'https://play.google.com/store/apps/details?id=io.colorgy.rnapp');
		}

		checkhash();

  })



  // Mobile Touch event

  var element = document.getElementById('html');
	element.addEventListener("touchstart", touchStart, false);
	element.addEventListener("touchmove", touchMove, false);

	var start = {x:0,y:0};

	function touchStart(e) {
		e.preventDefault();
		start.x = event.touches[0].pageX;
		start.y = event.touches[0].pageY;
	}

	function touchMove(e){
		e.preventDefault();
		offset = {};

		offset.x = start.x - event.touches[0].pageX;
		offset.y = start.y - event.touches[0].pageY;
		mobileTouchTrigger(offset.x , offset.y);
		console.log(offset);
		return offset;
	}

	function mobileTouchTrigger(dx, dy){
		console.log('touchMove');
    if(Math.abs(dx) < 20 && Math.abs(dy) > 15){
      //e.preventDefault();

      if(dy > 20){
        if(state == 'active'){
          if(current_page == 3){
            return false;
          }
          scrollPageFunc(current_page + 1, 'godown');
        }
      }

      if(dy < -20){
        if(state == 'active'){
          if(current_page == 0){
            return false;
          }
          scrollPageFunc(current_page - 1, 'goup');
        }
      }
    }

	}


	// Hash Change

	$(window).on('hashchange', function(){
		var hash = location.hash;
		if(hash == '#faq'){
			faqOpen();
		}
		else if(hash == '#about'){
			aboutOpen();
		}
		else{
			faqClose();
			aboutClose();
		}
	})

	function faqOpen(){
		$('.about-section').removeClass('active');
		$('.close-about').removeClass('active');
		console.log('faqopen');
		$('.faq-bg').addClass('active');
		setTimeout(function(){
			$('.close-faq').addClass('active');
		}, 800);
		setTimeout(function(){
			$('.faq-section').addClass('active');
		}, 800);
		setTimeout(function(){
			$('.fade-gradient').addClass('active');
		}, 800);
		state = 'disabled';
		mixpanel.track("Open FAQ");
	}

	function faqClose(){
		$('.fade-gradient').removeClass('active');
		$('.faq-section').removeClass('active');
		$('.close-faq').removeClass('active');
		$('.faq-bg').removeClass('active');
		location.hash = '';
		state = 'active';
	}

	function aboutOpen(){
		$('.faq-section').removeClass('active');
		$('.close-faq').removeClass('active');
		$('.faq-bg').addClass('active');
		setTimeout(function(){
			$('.close-about').addClass('active');
		}, 800);
		setTimeout(function(){
			$('.about-section').addClass('active');
		}, 800);
		setTimeout(function(){
			$('.fade-gradient').addClass('active');
		}, 800);
		state = 'disabled';
		mixpanel.track("Open About");
	}

	function aboutClose(){
		$('.fade-gradient').removeClass('active');
		$('.about-section').removeClass('active');
		$('.close-about').removeClass('active');
		$('.faq-bg').removeClass('active');

		location.hash = '';
		state = 'active';
	}

	function checkhash(){
		var hash = location.hash;
		if(hash){
			if(hash == '#faq'){
				faqOpen();
			}
			if(hash == '#about'){
				aboutOpen();
			}
		}
	}

	$(document).on('click', '.close-faq', function(){
		faqClose();
	})

	$(document).on('click', '.close-about', function(){
		aboutClose();
	})

	$(document).on('click', '.download-android', function(){
		mixpanel.track("Download Android");
	})

	$(document).on('click', '.download-ios', function(){
		mixpanel.track("Download iOS");
	})
</script>
